@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #EBEBEB;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 25px;
}


/* Transición de entrada desde la izquierda */
.slide-left-enter {
  transform: translateX(-50%); /* Ajusta la distancia */
  opacity: 0;
  z-index: 1;
}
.slide-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;
}
.slide-left-exit {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}
.slide-left-exit-active {
  transform: translateX(0);
  opacity: 0;
  transition: opacity 300ms ease-in-out; /* Más rápido */
}

/* Transición de entrada desde la derecha */
.slide-right-enter {
  transform: translateX(50%); /* Ajusta la distancia */
  opacity: 0;
  z-index: 1;
}
.slide-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;
}
.slide-right-exit {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}
.slide-right-exit-active {
  transform: translateX(0);
  opacity: 0;
  transition: opacity 300ms ease-in-out; 
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc-header-toolbar{
  @apply bg-[#65439B];
  @apply text-[#65439B];
  @apply p-4;
  @apply rounded-t-3xl;
  margin: 0;
}

.fc-button-primary:hover{
  @apply text-[#65439B] !important;
  @apply text-white !important;
}

.fc-button-active{
  @apply text-[#65439B] !important;
}

.fc .fc-toolbar-title{
  @apply text-[clamp(1.1em,_1.5vw,_1.75em)]; 
}
.fc-toolbar-title{
  @apply text-white;
  
}

.fc .fc-button{
  /* @apply text-[clamp(.5em,_3vw_,_1em)] */
}
.h-97{
  height: 38rem;
}


@media (max-width: 641px) {
  
  .Forms{
    border-radius: 40px;
  }

}



